<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Welcome Here's what to expect</h1>
    </mat-card-title>   
  </mat-card-header>
  <mat-card-content class="container">
    <section>
     <mat-card>
      <mat-card-content>
        <span class="badge" matBadge="1" matBadgeSize="large"></span> 
      </mat-card-content>
      <mat-card-content class="conetent">
        <h4> Provide your information and documents</h4>
        <p>
          We need to collect relevant personal and business information to comply with Identification and
          verification measures. We may require additional inforamtion and documents later.
        </p>
      </mat-card-content>
      <mat-card-content>
        <span class="badge" matBadge="2" matBadgeSize="large"></span> 
      </mat-card-content>
      <mat-card-content class="conetent">
        <h4>We'll verify your submission</h4>
        <p>
          you may be asked to meet with an Amazon Associate to verify your submission. This helps keep Amazon a trusted shopping destination
      </p>
      </mat-card-content>
      <mat-card-content>
        <span class="badge" matBadge="3" matBadgeSize="large"></span> 
      </mat-card-content>
      <mat-card-content class="conetent">
        <h4> Get Verified and start selling</h4>
        <p>
          After we received all of the required information, it will be verified as soon as possible.
      </p>
      </mat-card-content>
     </mat-card>
    </section>     

  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" routerLink="/seller/business-information">Begin</button>
  </mat-card-actions>
</mat-card>